@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
	padding: 0;
  overflow-x: hidden;
  background:#ccc;
}

header {
  min-height: 100vh;
  position: relative;
}
header .container {
			width: 100%;
			max-width: 1200px;
			margin: 0 auto;
			padding: 0 20px;
			box-sizing: border-box;
		}

		@media (max-width: 768px) {
			.container {
				padding: 0 10px;
			}
		}

		@media (max-width: 576px) {
			.container {
				padding: 0 5px;
			}
		}
    
header .container .navbar {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
header .container .navbar .logo {
  font-size: 2.25rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
}
header .container .navbar .nav-links {
  display: flex;
  align-items: center;
}
header .container .navbar .nav-links li {
  list-style-type: none;
}
header .container .navbar .nav-links li a {
  text-decoration: none;
  color: #fff;
  margin: 0 1.25rem;
  font-weight: 500;
  font-size: 1.05rem;
  position: relative;
}
header .container .navbar .nav-links li a::after {
  position: absolute;
  content: "";
  background-color: #fff;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 3px;
  transition: 0.3s ease all;
}
header .container .navbar .nav-links li a:hover::after {
  width: 100%;
}
header .container .navbar .nav-links button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.75rem 1rem;
  margin: 0 1rem;
  border-radius: 6px;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-weight: 500;
}
header .container .navbar i {
  display: none;
  color: #fff;
  cursor: pointer;
}
header .container .showcase {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 35rem;
}
header .container .showcase h1 {
  color: #fff;
  font-size: 2.5rem;
  margin-bottom: 0;
  font-weight: 700;
  margin-bottom: 1rem;
}
header .container .showcase p {
  margin-top: 0;
  color: #fff;
  font-weight: 500;
  line-height: 1.4;
  font-size: 0.9rem;
  width: 30rem;
}

header .video-container {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

header .video-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
header .video-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 768px) {
  header .container .navbar .nav-links {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    height: 100%;
    width: 225px;
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transform: translateX(-100%);
    transition: 0.4s ease all;
    z-index: 10;
  }
  header .container .navbar .nav-links li a {
    color: #000;
  }
  header .container .navbar .nav-links li a::after {
    background-color: #000;
  }
  header .container .navbar .nav-links button {
    border-color: #000;
    color: #000;
    padding: 0.75rem 1.5rem;
  }
  header .container .navbar .nav-links.active {
    transform: translateX(0%);
  }
  header .container .navbar i {
    display: block;
  }
  header .container .showcase {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
  }
  header .container .showcase h1 {
    font-size: 2.25rem;
  }
}
@media (max-width: 500px) {
  header .container .showcase h1 {
    font-size: 1.75rem;
  }
}

  header .container .showcase p {
    font-size: 0.85rem;
    width: 300px;
  }

nav img {
  height: 70px;
  width: 80px;
}
 /**intro part**/

.welcome-text {
  padding: 10px;
  text-align: center;
  background-color: #f1f1f1;
}

.welcome-text h2 {
  font-size: 1rem;
  margin-bottom: 10px;
}

.welcome-text p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 0;
}


.section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; 
  background: #002E63;
}

.section-header h1 {
  font: 400 32px "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #fff;
}

.section-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .section-title {
    font-size: 1.5rem;
  }
}

  

@media (max-width: 768px){
  .section-title {
  font-size: 2rem;

  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
  letter-spacing: 0.3rem;
}

}
.featured-news {
  background-color: #0d1626;
  color: #ffffff;
  padding: 1rem;
  margin: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.featured-news h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.featured-news p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
@media (max-width: 768px) {
  .featured-news {
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 0.5rem;
  }

  .featured-news h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }

  .featured-news p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}


/* Style for categories section */
.categories {
  padding: 40px 0;

}

/* Style for category container */
.category {
  position: relative;
  background: black;
  border-radius: 20px;
  width: 90%;
  height: 300px; /* set the height */
  overflow: hidden;
  margin-bottom: 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1.0);
}

/* Style for category image */
.category img {
  height: 100%; /* make the image fill the container height */
  width: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}


/* Hover effect for category image */
.category:hover img {
  transform: scale(1.05);
}

/* Style for category content */
.category-content {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  transition: all 0.3s ease-in-out;
  transform: translateY(100%);
}

/* Hover effect for category content */
.category:hover .category-content {
  transform: translateY(0);
}

/* Style for category title */
.category-content h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
}

/* Style for category description */
.category-content p {
  margin: 0;
  font-size: 14px;
  margin-bottom:20px;
}

/* Style for category button */
.category-content a.btn {
  margin-top: 20px;
}

/* Display categories in two columns */
.categories .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

/* Style for column items */
.categories .col-md-6 {
  width: 100%;
  padding: 0;
}


/* Style for primary button */
.btn-primary {
  background-color: #002E63;
  color: #fff;
  border: none;
  padding: 12px 20px;
  font-size: 18px;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

/* Style for button on click */
.btn-primary:active {
  transform: scale(0.9);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}


.ticker{   
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 20;} 

         .news{width: 100%;background: #ffd700;}
         .news-title{width: 180px;text-align: center;background: #C8102E;position: absolute; z-index: 10;height: 50px;}
         .news-title:after{position: absolute;content: "";right: -39px;border-left: 20px solid #C8102E;border-top: 28px solid transparent;border-right: 20px solid transparent;border-bottom: 21px solid transparent;top: 0px} 
         .news-title h5{font-size: 17px;margin: 8% 0;color: #fff;} 
         .news marquee{font-size: 16px;margin-top:15px}
         .news-content p{margin-right: 41px;display: inline;color: #222;}


          
       

          h2 {
            font-size: 1.2rem;
            font-weight: bold;
            text-transform: uppercase;
            color: #333;
            padding: 0.5rem;
            background-color: #f5f5f5;
            border: 2px solid #ddd;
            margin-top:30px;
            border-radius: 5px;
            width: 80%;
          }
          
          h3 {
            font-size: 2.2rem;
            font-weight: 600;
            color: #ffffff;
            text-align: center;
            margin-bottom: 1.5rem;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            border-bottom: 2px solid #ccc;
          }
          
          .card1 {
            margin: 1rem;
            padding: 1rem;
            border: transparent;
            border-radius: 0.5rem;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 1.1);
            background: #002E63;
            color: orange;
          }
          
          .card1 .verified {
            color: #66ff66;
          }
          
          .card1 .card-title {
            font-size: 1.5rem;
            margin-bottom: 0.5rem;
          }
          
          .card1 .card-text {
            font-size: 1rem;
            margin-top: 0;
          }
          

          .card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /*background: #ccc;*/
          }

          .card {
            margin: 1rem;
            padding: 1rem;
            border: transparent;
            border-radius: 0.5rem;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 1.1);
            width: 400px;
            max-width: 100%;
            background: #002E63;
            color: #ffffff;
          }
          @media screen and (max-width: 600px) {
  .card {
    width: 370px;
    margin: 0.5rem;
  }
}
          .card img {
            width: 100%;
            height: 300px; /* set a specific height for the image container */
            object-fit: cover; /* scale the image while preserving aspect ratio */
            border-radius: 20px;
          }
          
        



#theme {
  color: white;
  padding: 10px;
}



          
    
          /* Style for the image container */
#image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 100%;
}

/* Style for the image box */
.image-box {
  margin: 20px;
  width: 300px;
  height: 300px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Style for the image */
.image-box img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

/* Style for the description */
.image-box p {
  margin: 10px;
  text-align: center;
  font-size: 16px;
}


.g-signin2 {
  background-color: red;
  border: none;
  color: #ffffff;
  padding: 10px 10px;
  font-size: 10px;
  cursor: pointer;
  width: 15.5%;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #888888;
  transition: all 0.3s ease-in-out;
  margin-bottom: 30px;
  margin-top:10px;

}

/* Hide the button on screens smaller than 600px */
@media screen and (max-width: 960px) {
  .g-signin2 {
    display: none;
  }
}

.g-signin2:hover {
  background-color: orange;
}


.site-footer {
  padding: 45px;
  color: #fff;
background-color: #222;
padding-top: 10px;
}

@media  screen and(max-width: 960px) {
  .site-footer {

      padding: 45px ;
      margin-top: 70px;
    }
}

.site-footer h3 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #fff;
}

.site-footer p {
  font-size: 14px;
  line-height: 1.6;
  color: #fff;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links li a {
  color: #fff;
  text-decoration: none;
}

.footer-links li a:hover {
  color: #dcdcdc;
}

.contact-info li {
  margin-bottom: 10px;
}

.contact-info li i {
  margin-right: 10px;
}

.social-icons {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons a {
  color: #fff;
  display: inline-block;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

.social-icons a:hover {
  background-color: #dcdcdc;
  color: #222;
}

.facebook {
  background-color: #3b5998;
  color: white;
}

.twitter {
  background-color: #55acee;
}

.youtube {
  background-color: #cd201f;
}

.instagram {
background: #DC2424;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4A569D, #DC2424);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4A569D, #DC2424); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.site-footer p.small-print {
  font-size: 12px;
  color: #dcdcdc;
  margin-top: 30px;
}

.site-footer hr {
  border-top: 1px solid #333;
  margin: 30px 0;
}

.site-footer .text-center {
  text-align: center;
}

.site-footer .text-center p {
  margin-bottom: 0;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #0062cc;
  }
  
